h3:first-child {
  color: pink;
}
#greycol {
  color: #808080;
}
.text-box > :nth-child(5) {
  color: red;
}
.text-box > :nth-child(7) {
  color: green;
}
.yellow {
  color: yellow;
}

/*Start of second task*/
.first-day{
    background-color: #337279;
    border-radius: 15px;
}
.second-day{
    background-color: #1c914c;
    border-radius: 15px;
}

.third-day{
    background-color: #661f58;
    border-radius: 15px;
}

.fourth-day{
    background-color: #430c85;
    border-radius: 15px;
}

.fifth-day{
    background-color: #bd1f2a;
    border-radius: 15px;
}

.monday :nth-child(1){
    font-size: x-large;
}

.first-day .links:active{
  color: yellow;
}

.second-day .links:hover{
    color: rgb(176, 131, 71);
}

.second-day :last-child{
    font-style: italic;
}

.wednesday :nth-child(odd){
    color: #292943;
}

.fourth-day:focus{
  color: red;
}

.friday .links:visited{
    color: #3d4320;
}

.days :not(:nth-child(odd)){
  font-size: 20px;
}
.first-day:first-child{
  background-color: #292943;
}
.tuesday :nth-child(-n + 2){
  text-decoration: line-through;
}